.container {
    display: flex;             
    justify-content: center;    
    align-items: center;    
    gap: 20px;                  
    height: 100vh;             
}

.box {
    width: 150px;
    height: 150px;
    background-color: rgb(1, 16, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}